{
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "semi": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "tabWidth": 4,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto"
}
